<script id="tmpl-EaselJSTweenContactCluster" type="text/html">
	<div class="EaselJSTweenContactCluster">
		<div class="ClusterChart"></div>
		<div class="contact-info"></div>
		<div class="contact-toolbar">
			<div class="toolItems">
				<div class="toolbar-item">
					<label>Use RAF: </label> 
					<div class="toolbar-item-content useRAF">
						<input type="checkbox"/>
					</div>
				</div>
				<div class="toolbar-item">
					<label>Animation: </label> 
					<div class="toolbar-item-content animation">
						<input name="targetType" type="radio" value="tween"><span>Tween</span>
						<input name="targetType" type="radio" value="tick"><span>Tick</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>




