<script id="tmpl-EaselJSForceClusterSlider" type="text/html">
	<div class="EaselJSForceClusterSlider">
		<div class="ClusterChart"></div>
		<div class="contact-info"></div>
		<div class="contact-toolbar">
			<div class="toolItems">
				<div class="toolbar-item">
					<label>Show Level: </label> 
					<div class="toolbar-item-content showLevel">
						<input type="text" class="span2" data-slider-min="1" data-slider-max="4" data-slider-value="2" value="" id="sl1" >
					</div>
				</div>
				
			</div>
		</div>
	</div>
</script>




