<script id="tmpl-EaselJSTweenContactCluster" type="text/html">
	<div class="EaselJSTweenContactCluster">
		<div class="ClusterChart"></div>
		<div class="contact-info"></div>
		<div class="contact-toolbar">
			<div class="toolItems">
				<div class="toolbar-item">
					<label>Use RAF</label> 
					<div class="toolbar-item-content useRAF">
						<input type="checkbox"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>




