<script id="tmpl-ReportHeader" type="text/html">
	<div class="ReportHeader">
		<div class="navbar navbar-inverse" style="position: static;">
        	<div class="navbar-inner">
            	<div class="container">
                  	<a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    	<span class="icon-bar"></span>
                    	<span class="icon-bar"></span>
                    	<span class="icon-bar"></span>
                  	</a>
                  	<a class="brand" href="#">D3JS Vs EaselJS Demo</a>
                  	<div class="nav-collapse collapse navbar-inverse-collapse">
                    	<ul class="nav">
                      		<li class="dropdown">
	                       		<a href="#" class="dropdown-toggle" data-toggle="dropdown">D3JS Demo <b class="caret"></b></a>
	                        	<ul class="dropdown-menu">
	                        		<li data-nav="UserWeight" class="nav-item"><a href="#">UserWeight</a></li>
							      	<li data-nav="UserWeightD3" class="nav-item"><a href="#">D3JSForce</a></li>
							      	<li data-nav="UserWeightD3Cluster" class="nav-item"><a href="#">D3JSCluster</a></li>
							      	<li data-nav="D3JSContactCluster" class="nav-item"><a href="#">D3JS ContactCluster</a></li>
	                        	</ul>
                      		</li>
                      		<li class="dropdown active">
	                       		<a href="#" class="dropdown-toggle" data-toggle="dropdown">EaselJS Demo <b class="caret"></b></a>
	                        	<ul class="dropdown-menu">
	                        		<li data-nav="EaselJSContactCluster" class="nav-item"><a href="#">EaselJS</a></li>
							      	<li data-nav="EaselJSTweenContactCluster" class="nav-item"><a href="#">EaselJS TweenJS</a></li>
							      	<li data-nav="EaselJSForceCluster" class="nav-item"><a href="#">EaselJS ForceCluster</a></li>
							      	<li data-nav="EaselJSForceClusterDrag" class="nav-item"><a href="#">EaselJS Drag</a></li>
							      	<li data-nav="EaselJSForceClusterSlider" class="nav-item"><a href="#">EaselJS Slider</a></li>
							      	<li data-nav="EaselJSForceClusterSlider2" class="nav-item active"><a href="#">EaselJS Slider2</a></li>
	                        	</ul>
                      		</li>
                      		
                      		<li data-nav="FabricJSContactCluster" class="nav-item"><a href="#">FabricJS</a></li>
                    	</ul>
                  	</div><!-- /.nav-collapse -->
                </div>
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->
	</div>
</script>