<script id="tmpl-ReportHeader" type="text/html">
	<div class="ReportHeader">
		<div class="navbar  navbar-inverse navbar-fixed-top">
		  <div class="navbar-inner">
		    <a class="brand" href="#">D3JS Demo</a>
		    <ul class="nav">
		      <li data-nav="UserWeight" class="menu">UserWeight</li>
		      <li data-nav="UserWeightD3" class="menu">UserWeightD3Force</li>
		      <li data-nav="UserWeightD3Cluster" class="menu">UserWeightD3Cluster</li>
		      <li data-nav="D3JSContactCluster" class="menu">D3JSContactCluster</li>
		      <li data-nav="EaselJSContactCluster" class="menu">EaselJSContactCluster</li>
		      <li data-nav="EaselJSTweenContactCluster" class="menu active">EaselJSTweenContactCluster</li>
		    </ul>
		  </div>
		</div>
	</div>
</script>